body {
    background-color: whitesmoke;
    display: grid;
    place-items: center;
    height: 100vh;
    
    background-image: url(layered-peaks-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;  
}
* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


/* Input Buttons */
form {
    filter: drop-shadow(2px 2px 10px );
    height: 450px;
    width: 365px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px orangered solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;  
    transform: translateY(22%);
}
form #ryzen-image-con {
    width: 200px;
    margin-bottom: 20px;
}

/* input design */
form input {
    text-indent: 10px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: rgb(206, 199, 193);
}
form button {
    border-radius:8px;
    border: none;
    background-color: rgb(206, 199, 193);
}
input {
    width: 250px;
    height: 40px;
}
button {
    width: 90px;
    height: 33px;
}

/* Label design */
.first-input, .second-input, .third-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-input label, .second-input label, .third-input label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 115, 10);
}
label {
    width: 30px;
    height: 40px;
    border-radius: 8px 0 0 8px;
}

/* Animation And stuff blah blah*/
input:hover, button:hover {
    transition: all 0.5s;
    scale: 1.04; 
}
input, button {
    transition: all 0.5s;
}
/* form {
    transition: all 0.5s;
    animation-name: Colors;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: all 0.5s;
}
@keyframes Colors {
    0% {
        border: solid 1px orange;
        box-shadow: rgba(0, 0, 0, 0.27) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 2px -12px 30px,
        rgba(0, 0, 0, 0.12) 2px 4px 6px,
        rgba(0, 0, 0, 0.17) 2px 12px 13px,
        rgba(0, 0, 0, 0.09) 2px -3px 5px;
    }
    10% {
        border: solid 1px orange;
        box-shadow: rgba(0, 0, 0, 0.25) 2px 54px 55px,
        rgba(0, 0, 0, 0.12) 4px -12px 30px,
        rgba(0, 0, 0, 0.12) 4px 4px 6px,
        rgba(0, 0, 0, 0.17) 4px 12px 13px,
        rgba(0, 0, 0, 0.09) 4px -3px 5px;
    }
    20% {
        border: solid 1px orange;
        box-shadow: rgba(0, 0, 0, 0.25) 4px 54px 55px,
        rgba(0, 0, 0, 0.12) 6px -12px 30px,
        rgba(0, 0, 0, 0.12) 6px 4px 6px,
        rgba(0, 0, 0, 0.17) 6px 12px 13px,
        rgba(0, 0, 0, 0.09) 6px -3px 5px;
    }
    40% {
        border: solid 1px rgb(147, 28, 28);
        box-shadow: rgba(0, 0, 0, 0.25) 6px 54px 55px,
        rgba(0, 0, 0, 0.12) 8px -12px 30px,
        rgba(0, 0, 0, 0.12) 8px 4px 6px,
        rgba(0, 0, 0, 0.17) 8px 12px 13px,
        rgba(0, 0, 0, 0.09) 8px -3px 5px;
    }
    50% {
        border: solid 1px rgb(147, 28, 28);
        box-shadow: rgba(0, 0, 0, 0.25) 8px 54px 55px,
        rgba(0, 0, 0, 0.12) 10px -12px 30px,
        rgba(0, 0, 0, 0.12) 10px 4px 6px,
        rgba(0, 0, 0, 0.17) 10px 12px 13px,
        rgba(0, 0, 0, 0.09) 10px -3px 5px;
    }
    60% {
        border: solid 1px orange;
        box-shadow: rgba(0, 0, 0, 0.25) 6px 54px 55px,
        rgba(0, 0, 0, 0.12) 8px -12px 30px,
        rgba(0, 0, 0, 0.12) 8px 4px 6px,
        rgba(0, 0, 0, 0.17) 8px 12px 13px,
        rgba(0, 0, 0, 0.09) 8px -3px 5px;
    }
    70% {
        border: solid 1px red;
        box-shadow: rgba(0, 0, 0, 0.25) 4px 54px 55px,
        rgba(0, 0, 0, 0.12) 6px -12px 30px,
        rgba(0, 0, 0, 0.12) 6px 4px 6px,
        rgba(0, 0, 0, 0.17) 6px 12px 13px,
        rgba(0, 0, 0, 0.09) 6px -3px 5px;
    }
    80% {
        border: solid 1px orange;
        box-shadow: rgba(0, 0, 0, 0.25) 2px 54px 55px,
        rgba(0, 0, 0, 0.12) 4px -12px 30px,
        rgba(0, 0, 0, 0.12) 4px 4px 6px,
        rgba(0, 0, 0, 0.17) 4px 12px 13px,
        rgba(0, 0, 0, 0.09) 4px -3px 5px;
    }
    100% {
        border: solid 1px orange;
        box-shadow: rgba(0, 0, 0, 0.27) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 2px -12px 30px,
        rgba(0, 0, 0, 0.12) 2px 4px 6px,
        rgba(0, 0, 0, 0.17) 2px 12px 13px,
        rgba(0, 0, 0, 0.09) 2px -3px 5px;
    }
} */
textarea:focus, input:focus {
    color: rgb(163, 90, 63);
}
input:placeholder-shown {
    color: rgb(163, 90, 63);
}
.container #ryzen-image-con {
    transition: all 0.5s;
    scale: 1.04; 
}
.container #ryzen-image-con:hover {
    transition: all 0.5s;
    scale: 1.15; 
    filter: drop-shadow(0px 0px 3px );
}

/* Resposive */
@media only screen and (max-width: 425px) {
    form {
        height: 440px;
        width: 315px;
    }
    form #ryzen-image-con {
        width: 180px;
    }
    input {
        width: 200px;
        height: 35px;
    }
    button {
        height: 30px;
    }
    label {
        height: 35px;
    }
  }

  @media only screen and (max-width: 320px) {
    form {
        height: 410px;
        width: 265px;
    }
    form #ryzen-image-con {
        width: 170px;
    }
    input {
        width: 190px;
        height: 33px;
    }
    button {
        width: 95px;
        height: 30px;
    }
    label {
        height: 33px;
    }
  }